<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Fee</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="container mt-5">
<h2 th:text="${feePayment.feeId != null} ? 'Edit Fee Payment' : 'Add Fee Payment'"></h2>

<form th:action="@{/fees/save}" th:object="${feePayment}" method="post" class="mt-3">

    <input type="hidden" th:field="*{feeId}" />

    <div class="mb-3">
        <label for="userSelect" class="form-label">Select User</label>
        <select id="userSelect" name="admissionId" class="form-control" onchange="fillAdmissionDetails()">
            <option disabled selected>---selectOption---</option>
            <option th:each="adm : ${admissions}"
                    th:value="${adm.admissionId}"
                    th:data-admissionid="${adm.admissionId}"
                    th:data-coursename="${adm.course.courseName}"
                    th:data-duration="${adm.course.duration}"
                    th:data-fees="${adm.balance}"
                    th:data-installment="${adm.course.installment}"
                    th:text="${adm.userMaster.fullName}"
                    th:selected="${feePayment.admission != null and adm.admissionId == feePayment.admission.admissionId}"> <!--edit par click kare to feeform me data apane se fill ho jaye-->
            </option>
        </select>
    </div>

    <div class="mb-3">
        <label class="form-label">Admission ID</label>
        <input type="text" id="admissionId" class="form-control"
               th:value="${feePayment.admission != null ? feePayment.admission.admissionId : ''}" readonly>
    </div>

    <div class="mb-3">
        <label class="form-label">Course Name</label>
        <input type="text" id="courseName" class="form-control"
               th:value="${feePayment.admission != null ? feePayment.admission.course.courseName : ''}" readonly>
    </div>


    <div class="mb-3">
        <label class="form-label">Course Duration</label>
        <input type="text" id="courseDuration" class="form-control"
               th:value="${feePayment.admission != null ? feePayment.admission.course.duration : ''}" readonly>
    </div>


<!--    <div class="mb-3">-->
<!--        <label class="form-label">Installment</label>-->
<!--        <input type="text" id="courseInstallment" class="form-control"-->
<!--               th:value="${feePayment.admission != null ? feePayment.admission.course.installment : ''}" readonly>-->
<!--    </div>-->

    <div class="mb-3">
        <label class="form-label">Total Fees</label>
        <input type="text" id="fees" class="form-control"
               th:value="${feePayment.admission != null ? feePayment.admission.userMaster.fees : ''}" readonly>
    </div>
    <div class="mb-3">
        <label for="paymentDate" class="form-label">Payment Date</label>
        <input type="date" id="paymentDate" th:field="*{paymentDate}" class="form-control" required>
        <div id="dateError" class="text-danger mt-1" style="display:none;">
            Payment date cannot be older than 7 days!
        </div>
    </div>
    <div class="mb-3">
        <label for="paymentMode" class="form-label">Payment Mode</label>
        <select id="paymentMode" th:field="*{paymentMode}" class="form-control">
            <option value="Cash">Cash</option>
            <option value="Online">Online</option>
            <option value="Cheque">Cheque</option>
            <option value="Card">Card</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Save Fee</button>
</form>

<script>
    function fillAdmissionDetails() {
        let select = document.getElementById("userSelect");
        let selectedOption = select.options[select.selectedIndex];

        document.getElementById("admissionId").value = selectedOption.getAttribute("data-admissionid") || "";
        document.getElementById("courseName").value = selectedOption.getAttribute("data-coursename") || "";
        document.getElementById("courseDuration").value = selectedOption.getAttribute("data-duration") || "";
        document.getElementById("fees").value = selectedOption.getAttribute("data-fees") || "";
<!--        document.getElementById("courseInstallment").value = selectedOption.getAttribute("data-installment") || "";-->
    }

    document.addEventListener("DOMContentLoaded", function () {
        const paymentDateInput = document.getElementById("paymentDate");
        const form = paymentDateInput.closest("form");
        const dateError = document.getElementById("dateError");

        const today = new Date();
        today.setHours(0,0,0,0);

        const minDate = new Date();
        minDate.setDate(today.getDate() - 7);

        paymentDateInput.min = minDate.toISOString().split("T")[0];

        form.addEventListener("submit", function (event) {
            const selectedDate = new Date(paymentDateInput.value);
            if (selectedDate < minDate) {
                event.preventDefault();
                dateError.style.display = "block";
            } else {
                dateError.style.display = "none";
            }
        });
    });
</script>
</body>
</html>




